# Config file to set per package and module logging levels.
#
# Log levels are eval'ed in the namespace of the logging module, with available
# constants for levels: DEBUG, INFO, WARNING, ERROR, CRITICAL
# Format: list of 2-tuples [('ion.core',DEBUG)]. Module package hierarchy
# applies. You can set levels on a per-package level.
# DO NOT CHANGE THIS FILE
# If you want to override this settings, copy this file to loglevelslocal.cfg
# and set the levels there.
[
    ('ion', WARNING),
    ('ion.services.dm.distribution.consumers',INFO)
]
