[run]
source =
    ion
omit =
    # omit __init__.py file
    *__init__*
    # omit tests
    */test/*
    # omit per S&A
    /*/utilities/SBE37_util*
    /*/utilities/client_*
    /*/utilities/inst_*
    /*/simulators/sim_WHSentinelADCP*

    /*/ion/zapps*
    /*/ion/play*
    /*/ion/core/cc/shell*
    *cassandra_performance*
    *gviz_api*
    /*/ops/resources*
    /*/eoi/dispatcher*
    /*/interact/int_observer*
    *instrument_web_monitor*
    *mscweb*
    *lazy_eye*
    *notify_web_monitor*
    /*/itv_trial/*
    /*/itv*
    /*/iontest*
    /*/trial*
    *cassandra_teardown*
    *cassandra_schema*
    *vandv*
    *dbmanhole*
    *parse_url_tester*
    /*/coi/conversation_repository*
    /*/sa/data_processing*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:

    # 'pass' generally means 'this won't be called'
    ^ *pass *$

precision = 2

[html]
directory = coverage_results
