*.kpf
*.pyc
*.swp
*.*.swp
.*.*.swo
*.log
*.pid
*.komodo*
_trial*
docs
res/config/ionlocal.config
res/logging/loglevelslocal.cfg
build
dist
*.egg-info
.pydevproject
.project
/.settings
/.metadata
dropin.cache
eggs/
parts/
develop-eggs/
downloads/
bin/
.installed.cfg
.idea
buildout.cfg
/net
.gitignore
.idea
ioncore-python
