Genshi==0.6
M2Crypto==0.20.2
Thrift==0.2.0
Twisted==10.2.0
amqplib==0.6.1
anyjson==0.2.5
apache-libcloud==0.3.1
carrot==0.10.11-txamqp
gviz-api.py==1.7.0
httplib2==0.6.0
msgpack-python==015final
nimboss
simplejson==2.1.2
telephus==0.7-beta3.3
twotp==0.7
txAMQP==0.3
txrabbitmq==0.4
zope.interface==3.6.1
ionproto==0.3.12
protobuf==2.3.0-p1
.
