# Central configuration file for ION services and modules
{
'ion.core.bootstrap':{
    'services_cfg':'res/config/ionservices.cfg',
    'messaging_cfg':'res/config/ionmessaging.cfg'},

'ion.core.bootstrap1':{
    'services_cfg':'res/config/ionservices1.cfg',
    'messaging_cfg':'res/config/ionmessaging.cfg',
    'container_group':'default'},

'ion.core.base_process':
    {'conversation_log':False},

'ion.services.coi.datastore':
    {'backend.module':'ion.data.cassandrads'}
}
