# Override configuration file for "ion.config". Any entry in here replaces
# or adds configuration in ion.config.
# For a local configuration, copy to "ionlocal.config" and modify settings here.
{

'#ion.services.coi.datastore':{
    'backend_class':'ion.data.store.Store',
},

'#ion.services.coi.attributestore':{
    'backend_class':'ion.data.store.Store',
},


'#ion.services.coi.attributestore':{
    'backend_class':'ion.data.backends.cassandra.CassandraStore',
    'backend_args':{
        'cass_host_list':['amoeba.ucsd.edu:9160'],
        'keyspace':'Datastore',
        'colfamily':'DS1',
        'cf_super':True,
        'namespace':None,
    },
},


'#ion.data.backends.store_service':{
    'backend_class':'ion.data.backends.cassandra.CassandraStore',
    'backend_args':{
        'cass_host_list':['amoeba.ucsd.edu:9160'],
        'keyspace':'Datastore',
        'colfamily':'DS1',
        'cf_super':True,
        'namespace':None,
    },
},


'#ion.test.iontest':{
    'broker_host': 'amoeba.ucsd.edu',
    'broker_port': 5672,
    'broker_vhost': '/',
},

'ion.test.iontest':{
    'broker_host' : 'localhost',
    },
}
