# this file contains deployable types and is the early-stage backing for the
# deployable type registry service
_BASE_NODE_DOC = """
<cluster>
 <workspace>
   <name>%(node_name)s</name>
   <image>${epuworker_image_id}</image>
   <quantity>1</quantity>
   <nic wantlogin="true">public</nic>
   <ctx>
     <provides>
       <identity/>
     </provides>
     <requires>
       <identity/>
       <data name="chef-install-work-consumer"><![CDATA[%(spec)s]]></data>
     </requires>
   </ctx>
 </workspace>
</cluster>
""" 

_EPU_WORK_CONSUMER_SPEC = """
{
  "capabilitycontainer":{
    "broker":"184.73.158.98",
    "bootscript":"res/scripts/newcc.py",
    "sysname":"${exchange_scope}",
    "broker_heartbeat":"5",
    "lcaarch_branch":"cei",
    "lcaarch_commit_hash":"HEAD",
    "log_level":"DEBUG"
  },
  "username":"cc",
  "services":{
    "simple_work_consumer":"{'name':'epu_worker','module':'ion.services.cei.sleeper.epu_worker','class':'EPUWorkerService', 'spawnargs':{'queue_name_work':'cei_work_queue'}}"
  },
  "recipes":["setuptools", "twisted", "txamqp", "user", "capabilitycontainer"]
}
"""

_EPU_WORK_CONSUMER_DOC = _BASE_NODE_DOC % {'node_name' : 'work_consumer',
        'spec' : _EPU_WORK_CONSUMER_SPEC}

_REGISTRY = {
    'epu_work_consumer' :
    {
        'document' : _EPU_WORK_CONSUMER_DOC,
        'sites' : {
            'ec2-east' : {
                'work_consumer' : {
                    'image' : '${epuworker_image_id}',
                    'sshkeyname' : 'ooi'
                },
            },
        }
    },
    'base-cluster' :
    {
        'document' : 
        '<cluster>'+
        '<workspace><name>head-node</name><image>base-cluster</image>'+
        '<quantity>1</quantity></workspace>'+
        '<workspace><name>worker-node</name><image>base-cluster</image>'+
        '<quantity>3</quantity></workspace>'+
        '</cluster>',
        'sites' : {
            'nimbus-test' : {
                'head-node' : {
                    'image' : 'base-cluster',
                    #'sshkeyname' : 'testkey',
                },
                'worker-node' : {
                    'image' : 'base-cluster',
                    #'sshkeyname' : 'testkey',
                }
            }
        }
    }
}

