# Central configuration file for ION services and modules
# Entried are key'ed by the __name__ of their module,
# or startup for boot scripts
{
'ion.core.bootstrap':{
    'ccagent_cfg' : 'res/config/ionccagent.cfg',
    'coreservices_cfg':'res/config/ioncoreservices.cfg',
    'messaging_cfg':'res/config/ionmessaging.cfg',
    'interceptor_system':'ion.core.cc.interceptor.BaseInterceptorSystem'
    },

'ion.core.base_process':{
    'conversation_log':False},

'ion.core.cc.interceptor':{
    'master_off':False,
    'msg_sign':False,
    'encrypt':False,
    'encrypt_mod':'Crypto.Cipher.AES',
    'encrypt_key':'secretkey/len16b',
    'encrypt_pad':16,
    },

'ion.core.cc.modloader':{
    'load_modules':True,
    'modules_cfg':'res/config/ionmodules.cfg',
    },

'ion.services.coi.datastore':{
    'backend.module':'ion.data.cassandrads'},


'startup.bootstrap1':{
    'coreservices_cfg':'res/config/ioncoreservices.cfg',
    'services_cfg':'res/config/ionservices1.cfg',
    'messaging_cfg':'res/config/ionmessaging.cfg'
    },

'startup.bootstrap-dx':{
    'services_cfg' : 'res/config/iondx_services.cfg',
    'messaging_cfg': 'res/config/ionmessaging.cfg'
    },


}
