# All messaging
"""
worker = a queue where many consumers can take messages from
direct = a queue w/ exactly one consumer.
fanout = many queues for the same "name" (topic of messages)
"""
{
    'worker1' :
        {'type':'worker', 'config':{}},
    'direct1' :
        {'type':'direct', 'config': {}},
    'fanout1' :
        {'type':'fanout', 'config': {}}
}
